@model Web.Models.AdvertisementDto

@{
    ViewData["Title"] = "Detaljer";
}

<h1>Detaljer</h1>

<div>
    <h4>Annonce</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Model)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Model)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Year)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Year)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsOffer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsOffer)
        </dd>
        @if (Model.AdvertisementFileDtos.Any())
        {
            <dt class="col-sm-2">
                Bilag
            </dt>
            <dd class="col-sm-10">
            @foreach(var file in Model.AdvertisementFileDtos)
            {
                <img src="@file.ImageUrl" height="100" width="100" />
            }
        </dd>
        }
    </dl>
</div>
<div>
    <a asp-action="Index" class="btn btn-danger">Tilbage</a>
    <a class="btn btn-primary">Kontakt/Køb</a>
</div>
