@using Microsoft.AspNetCore.Identity
@using Web.Data
@inject SignInManager<ApplicationUser> SignInManager
@model Web.Models.AdvertisementVm

@{
    ViewData["Title"] = "Annoncer";
}

<h1>Annoncer</h1>
@if (SignInManager.IsSignedIn(User))
{
    <p>
        <a asp-action="Create">Opret</a>
    </p>
    <p>
        <a asp-action="MyAdds">Mine Annoncer</a>
    </p>
}
<form asp-action="Index" asp-controller="Advertisement" method="get">
    <div class="row g-2 mb-3">
        <div class="col-md">
            <div class="form-floating">
                <input class="form-control" asp-for="AdvertisementSearchDto.ProductName" />
                <label asp-for="AdvertisementSearchDto.ProductName">Produkt navn</label>
            </div>
        </div>
        <div class="col-md">
            <div class="form-floating">
                <select class="form-select" asp-for="AdvertisementSearchDto.Category" id="category">
                <option value="0" selected>Alt</option>
                <option value="1">Tandlæge</option>
                  <option value="2">Læge</option>
                  <option value="3">Fysioterapi</option>
              </select>
              <label for="category">Kategori</label>
            </div>
        </div>
    </div>
    <div class="row g-2 mb-3">
        <div class="col-md">
            <div class="form-floating">
                <input class="form-control" asp-for="AdvertisementSearchDto.YearFrom" />
                <label asp-for="AdvertisementSearchDto.YearFrom">Årgang fra</label>
            </div>
        </div>
        <div class="col-md">
            <div class="form-floating">
                <input class="form-control" asp-for="AdvertisementSearchDto.YearTo" />
                <label asp-for="AdvertisementSearchDto.YearTo">Årgang til</label>
            </div>
        </div>
    </div>
    <div class="row g-2 mb-3">
        <div class="col-md">
            <div class="form-floating">
                <input class="form-control" asp-for="AdvertisementSearchDto.PriceFrom" />
                <label asp-for="AdvertisementSearchDto.PriceFrom">Pris fra</label>
            </div>
        </div>
        <div class="col-md">
            <div class="form-floating">
                <input class="form-control" asp-for="AdvertisementSearchDto.PriceTo" />
                <label asp-for="AdvertisementSearchDto.PriceTo">Pris til</label>
            </div>
        </div>
    </div>
    <div class="row g-2 mb-3">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" asp-for="AdvertisementSearchDto.IsOffer">
          <label class="form-check-label" asp-for="AdvertisementSearchDto.IsOffer">Byd på pris</label>
        </div>
    </div>
    <div class="form-group">
        <button id="addSearchBtn" class="btn btn-primary">Søg</button>
    </div>
</form>
<br />
<div class="album py-5 bg-light">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3" id="advList">
          @foreach(var adv in Model.Advertisements)
            {
                <div class="col">
                    <div class="card shadow-sm">
                        <img class="bd-placeholder-img card-img-top" width="100" height="225" src="@(adv.AdvertisementFileDtos.FirstOrDefault()?.ImageUrl != null ? $"{adv.AdvertisementFileDtos.First().ImageUrl}" : "/images/not-found.png")" />

                        <div class="card-body">
                            <h4 class="card-title">@adv.ProductName</h4>
                            <p class="card-text">@adv.Description</p>
                            <p class="card-text">Pris: @adv.Price-,</p>
                            <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a class="btn btn-sm btn-outline-primary" asp-action="Details" asp-controller="Advertisement" asp-route-id="@adv.Id">Se detaljer</a>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
      </div>
    </div>
  </div>